Repository Arquisoft/InciManager_i3a, pull requests merged in 2018-03, with the labels that each got.

#1 refactor(readme): update of the readme to support circle-ci badge
  README.md
Labels: affects: documentation, affects: repository, difficulty: easy-one, priority: high, status: accepted, type: improvement

#3 Initial commit
  .circleci/config.yml
  .gitignore
  inci-manager/kafka-service/pom.xml
  inci-manager/kafka-service/src/main/java/org/uniovi/asw/inci_manager/kafka/App.java
  inci-manager/kafka-service/src/test/java/org/uniovi/asw/inci_manager/kafka/AppTest.java
  inci-manager/pom.xml
  inci-manager/rest-service/pom.xml
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/App.java
  inci-manager/rest-service/src/test/java/org/uniovi/asw/inci_manager/rest/AppTest.java
  inci-manager/src/main/java/org/uniovi/asw/inci_manager/App.java
  inci-manager/src/test/java/org/uniovi/asw/inci_manager/AppTest.java
  inci-manager/web-service/pom.xml
  inci-manager/web-service/src/main/java/org/uniovi/asw/inci_manager/web/App.java
  inci-manager/web-service/src/test/java/org/uniovi/asw/inci_manager/web/AppTest.java
Labels: PR target: master, affects: code, type: adds feature

#4 Willy init rest services
  inci-manager/kafka-service/pom.xml
  inci-manager/pom.xml
  inci-manager/rest-service/pom.xml
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/App.java
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/Application.java
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/RESTController.java
  inci-manager/rest-service/src/main/resources/application.properties
  inci-manager/rest-service/src/test/java/org/uniovi/asw/inci_manager/rest/AppTest.java
  inci-manager/rest-service/src/test/java/org/uniovi/asw/inci_manager/rest/RESTControllerTest.java
  inci-manager/web-service/pom.xml
Labels: PR target: master, affects: code, affects: rest-service, type: improvement

#5 Update README.md
  README.md
Labels: PR target: master, affects: documentation, affects: repository, status: accepted, type: improvement

#8 Willy init rest services
  .circleci/config.yml
  inci-manager/rest-service/pom.xml
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/AgentsConnection.java
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/AgentsQueryFormatter.java
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/RESTController.java
  inci-manager/rest-service/src/test/java/org/uniovi/asw/inci_manager/rest/RESTControllerTest.java
Labels: PR target: master, affects: ci, affects: code, affects: rest-service, type: adds feature, type: bug-fix

#9 initialized git-lfs and updated the readme
  .gitattributes
  .github/scheeme.png
  README.md
Labels: PR target: master, affects: documentation, affects: repository, priority: low, status: accepted, type: improvement

#10 config(rest): added dynamic url for agents consumer
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/AgentsConnection.java
  inci-manager/rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/RESTController.java
  inci-manager/rest-service/src/main/resources/application-test.properties
  inci-manager/rest-service/src/main/resources/application.properties
  inci-manager/rest-service/src/test/java/org/uniovi/asw/inci_manager/rest/RESTControllerTest.java
Labels: PR target: master, affects: code, affects: rest-service, status: accepted, type: improvement

#11 refactor(repository): refactored the whole repository
  .circleci/config.yml
  kafka-service/pom.xml
  kafka-service/src/main/java/org/uniovi/asw/inci_manager/kafka/App.java
  kafka-service/src/test/java/org/uniovi/asw/inci_manager/kafka/AppTest.java
  pom.xml
  rest-service/pom.xml
  rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/AgentsConnection.java
  rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/AgentsQueryFormatter.java
  rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/Application.java
  rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/RESTController.java
  rest-service/src/main/resources/application-test.properties
  rest-service/src/main/resources/application.properties
  rest-service/src/test/java/org/uniovi/asw/inci_manager/rest/RESTControllerTest.java
  src/main/java/org/uniovi/asw/inci_manager/Application.java
  src/test/java/org/uniovi/asw/inci_manager/AppTest.java
  web-service/pom.xml
  web-service/src/main/java/org/uniovi/asw/inci_manager/web/App.java
  web-service/src/test/java/org/uniovi/asw/inci_manager/web/AppTest.java
Labels: PR target: master, affects: ci, affects: code, affects: repository, affects: rest-service, status: accepted, type: improvement

#12 Added the resources to the parent project
  resources/application-test.properties
  resources/application.properties
  rest-service/src/main/java/org/uniovi/asw/inci_manager/rest/AgentsConnection.java
  src/main/resources/application-test.properties
  src/main/resources/application.properties
Labels: PR target: master, affects: ci, affects: code, affects: repository, affects: rest-service, type: bug-fix

#13 heroku testing
  rest-service/src/main/resources/application.properties
  src/main/resources/application.properties
Labels: PR target: master, affects: code, affects: repository, affects: rest-service, status: accepted, type: improvement

#25 Revert "Duplicated application removed"
  CONTRIBUTING.md
  LICENSE
  README.md
  pom.xml
  src/main/java/org/uniovi/i3a/incimanager/Application.java
  src/main/java/org/uniovi/i3a/incimanager/rest/AgentsConnection.java
  src/main/java/org/uniovi/i3a/incimanager/rest/AgentsQueryFormatter.java
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
  src/main/java/org/uniovi/i3a/incimanager/web/IncidentInfo.java
  src/main/java/org/uniovi/i3a/incimanager/web/UserInfo.java
  src/main/java/org/uniovi/i3a/incimanager/web/WebController.java
  src/main/java/org/uniovi/i3a/incimanager/web/WebLoginController.java
  src/main/resources/application-test.properties
  src/main/resources/application.properties
  src/main/resources/static/signin.css
  src/main/resources/templates/incidentForm.html
  src/main/resources/templates/login.html
  src/test/java/org/uniovi/i3a/incimanager/rest/RESTControllerTest.java
  src/test/java/org/uniovi/i3a/incimanager/web/WebControllerTest.java
  target/classes/application-test.properties
  target/classes/application.properties
  target/classes/org/uniovi/i3a/incimanager/Application.class
  target/classes/org/uniovi/i3a/incimanager/rest/AgentsConnection.class
  target/classes/org/uniovi/i3a/incimanager/rest/AgentsQueryFormatter.class
  target/classes/org/uniovi/i3a/incimanager/rest/RESTController.class
  target/classes/org/uniovi/i3a/incimanager/web/IncidentInfo.class
  target/classes/org/uniovi/i3a/incimanager/web/UserInfo.class
  target/classes/org/uniovi/i3a/incimanager/web/WebController.class
  target/classes/static/signin.css
  target/classes/templates/incidentForm.html
  target/classes/templates/login.html
  target/test-classes/org/uniovi/i3a/incimanager/rest/RESTControllerTest.class
  target/test-classes/org/uniovi/i3a/incimanager/web/WebControllerTest.class
Labels: PR target: master, affects: code, affects: repository, affects: rest-service, affects: web-service, difficulty: hard-one, priority: high, status: accepted, type: bug-fix

#26 Web service ready and tested
  src/main/java/org/uniovi/i3a/incimanager/web/IncidentInfo.java
  src/main/java/org/uniovi/i3a/incimanager/web/UserInfo.java
  src/main/java/org/uniovi/i3a/incimanager/web/WebController.java
  src/main/java/org/uniovi/i3a/incimanager/web/WebLoginController.java
  src/main/resources/templates/incidentForm.html
  src/main/resources/templates/login.html
  src/test/java/org/uniovi/i3a/incimanager/web/WebControllerTest.java
Labels: PR target: master, affects: code, affects: web-service, status: accepted, type: adds feature, type: requirement

#27 included(lombok): library for fast development included
  README.md
  pom.xml
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
  src/main/resources/static/signin.css
  src/main/resources/templates/login.html
Labels: PR target: master, affects: kafka-service, affects: repository, affects: rest-service, affects: web-service, status: accepted, type: improvement

#28 Added packages-info files and removed warnings from web
  src/main/java/org/uniovi/i3a/incimanager/kafka/package-info.java
  src/main/java/org/uniovi/i3a/incimanager/rest/package-info.java
  src/main/java/org/uniovi/i3a/incimanager/web/IncidentInfo.java
  src/main/java/org/uniovi/i3a/incimanager/web/UserInfo.java
  src/main/java/org/uniovi/i3a/incimanager/web/WebController.java
  src/main/java/org/uniovi/i3a/incimanager/web/package-info.java
  src/test/java/org/uniovi/i3a/incimanager/web/WebControllerTest.java
Labels: PR target: master, affects: code, affects: rest-service, affects: web-service, difficulty: easy-one, priority: low, status: accepted, type: improvement

#31 update(docs): readme adds full documentation.
  README.md
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
Labels: PR target: master, affects: documentation, affects: kafka-service, affects: repository, affects: rest-service, affects: web-service, difficulty: easy-one, priority: high, status: accepted, type: improvement

#36 configuration(ci): configured the circle ci configuration
  .circleci/config.yml
Labels: PR target: master, affects: ci, affects: repository, difficulty: hard-one, priority: high, status: accepted, type: improvement

#32 KafkaService updated.
  .circleci/config.yml
  pom.xml
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaProduceFactory.java
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaService.java
  src/main/resources/application-test.properties
  src/main/resources/application.properties
  src/test/java/org/uniovi/i3a/incimanager/kafka/KafkaServiceTest.java
  src/test/java/org/uniovi/i3a/incimanager/kafka/wrongkafkadummy/WrongKafkaProduceFactory.java
  src/test/java/org/uniovi/i3a/incimanager/kafka/wrongkafkadummy/WrongKafkaService.java
Labels: PR target: master, affects: code, affects: kafka-service, priority: high, status: accepted, status: revision needed, type: adds feature

#38 Defined IKafkaService and production Kafka server.
  src/main/java/org/uniovi/i3a/incimanager/kafka/IKafkaService.java
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaProduceFactory.java
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaService.java
  src/main/resources/application-test.properties
  src/main/resources/application.properties
Labels: PR target: master, affects: kafka-service, difficulty: medium, priority: low, status: revision needed, type: adds feature, type: requirement

#42 Pullapprove updated
  .pullapprove.yml
Labels: PR target: master, affects: repository, priority: high, status: accepted, type: improvement

#41 Huge improvements in KafkaService
  src/main/java/org/uniovi/i3a/incimanager/kafka/IKafkaService.java
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaProduceFactory.java
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaService.java
  src/main/resources/application-test.properties
  src/main/resources/application.properties
  src/test/java/org/uniovi/i3a/incimanager/kafka/KafkaServiceTest.java
Labels: affects: code, affects: kafka-service, difficulty: easy-one, priority: low, status: revision needed, type: adds feature, type: bug, type: improvement

#43 Add kafka rest
  .circleci/config.yml
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
  src/test/java/org/uniovi/i3a/incimanager/rest/RESTControllerTest.java
Labels: PR target: master, affects: code, affects: rest-service, difficulty: easy-one, priority: high, status: accepted, type: improvement, type: requirement

#45 Add heroku services
  app.json
Labels: PR target: master, affects: cd, difficulty: easy-one, status: accepted

#47 KafkaTemplate fixed
  README.md
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaProduceFactory.java
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaService.java
  src/test/java/org/uniovi/i3a/incimanager/kafka/KafkaServiceTest.java
Labels: PR target: master, affects: code, affects: kafka-service, difficulty: easy-one, priority: medium, type: bug-fix

#49 Hotfix for modules compatibility-
  src/main/java/org/uniovi/i3a/incimanager/kafka/KafkaService.java
Labels: PR target: master, affects: kafka-service, difficulty: easy-one, priority: low, status: accepted

#50 implementation(eureka): added the orchestration server
  .circleci/config.yml
  pom.xml
  src/main/java/org/uniovi/i3a/incimanager/Application.java
  src/main/java/org/uniovi/i3a/incimanager/rest/AgentsConnection.java
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
  src/main/resources/application.properties
Labels: PR target: master, affects: code, affects: rest-service, difficulty: easy-one, priority: low, status: accepted, type: improvement

#51 Added the domain name to the circle-ci conf
  .circleci/config.yml
Labels: PR target: master, affects: ci, difficulty: easy-one, priority: high, type: bug-fix

#52 Supporting multiple instances
  src/main/java/org/uniovi/i3a/incimanager/rest/AgentsConnection.java
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
Labels: PR target: master, affects: code, affects: rest-service, difficulty: easy-one, priority: low, status: accepted, type: improvement

#54 fix last commit errors
  pom.xml
  src/main/java/org/uniovi/i3a/incimanager/rest/AgentsConnection.java
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
Labels: PR target: master, affects: code, affects: rest-service, priority: high, status: accepted, type: bug-fix

#55 Small fix to support multiserver
  src/main/java/org/uniovi/i3a/incimanager/rest/AgentsConnection.java
  src/main/java/org/uniovi/i3a/incimanager/rest/RESTController.java
Labels: PR target: master, affects: code, affects: rest-service, difficulty: easy-one, priority: low, type: bug-fix
